body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #000080;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: white;
}

.logo {
  width: 200px;
  height: auto;
}

header h1 {
  margin: 10px 0 0 0;
  color: rgb(255, 255, 255);
}

nav {
  width: 100%;
  background-color: #dee5ff;
  flex-grow: 1;
}

.menu {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Untuk menengah secara vertikal */
  text-decoration: none;
  color: #000080;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  text-align: center;
  font-weight: bolder;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
  transition: all 0.3s ease; /* Menambahkan transisi untuk efek hover */
}

.menu-button img {
  width: 80px;
  height: 80px;
  transition: all 0.3s ease;
}

.menu-button span {
  font-size: 20px;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.menu-button:hover {
  background-color: #bcc6e9;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-button:hover span {
  color: white;
}

footer {
  background-color: #000080;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}
